<% if @workspace.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@workspace.errors.count, "error") %> prohibited this workspace from being saved: </h2>
    <ul>
      <% @workspace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for Workspace.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "kaffeniate me!" %>
  <%= f.submit %>
<% end %>
</div>

<ul>
  <% @spots.each do |spot| %>
    <li>
      <p> <%=p spot.name %> </p>
      <p> <%=p spot.formatted_phone_number %> </p>
    </li>
    <% end %>
</ul>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtGIuGMTn4AAhO1lMnyNH68UzPeffrtI&libraries=places&callback=initAutocomplete"
        async defer></script>
