<% if @workspace.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@workspace.errors.count, "error") %> prohibited this workspace from being saved: </h2>
    <ul>
      <% @workspace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<div class="add-place">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="add-place-panel">
          <h2 class="section-heading place-title">Add A Place!</h2>
          <%= form_for Workspace.new do |f| %>
            <div class="panel-body">
              <%= f.text_field :name, :class => "panel", autofocus: true, label: false, placeholder: "Location Name", input_html: { class: "input-lg" } %>
            </div>
             <div class="panel-body">
              <%= f.submit :class => "btn btn-success add-place-button", id: :submit  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <input id="pac-input" class="controls" type="text"
       placeholder="Enter a location">
  <div id="map">
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWtGIuGMTn4AAhO1lMnyNH68UzPeffrtI&libraries=places&callback=initMap"
        async defer></script>
